.clock-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .clock {
    border: 1px solid #b73636;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
  }
  
  h2 {
    margin: 0;
  }
  
  p {
    font-size: 1.5em;
    margin: 0;
  }